<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, inital-scale=1"/>
    <meta name="description"
          content=""/>
    <meta name="author"
          content="Tyrant Qiao"/>
    <title>stealth_login</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <!-- Bootstrap Validator plugin -->
    <script
            src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <script th:src="@{js/fv.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('#loginForm').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {

                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required'
                            },
                            callback: {
                                callback: function (value, validator, $field) {
                                    var password = $field.val();
                                    if (password == '') {
                                        return true;
                                    }

                                    var result = zxcvbn(password),
                                        score = result.score,
                                        message = result.feedback.warning || 'The password is weak';

                                    // Update the progress bar width and add alert class
                                    var $bar = $('#strengthBar');
                                    switch (score) {
                                        case 0:
                                            $bar.attr('class', 'progress-bar progress-bar-danger')
                                                .css('width', '1%');
                                            break;
                                        case 1:
                                            $bar.attr('class', 'progress-bar progress-bar-danger')
                                                .css('width', '25%');
                                            break;
                                        case 2:
                                            $bar.attr('class', 'progress-bar progress-bar-danger')
                                                .css('width', '50%');
                                            break;
                                        case 3:
                                            $bar.attr('class', 'progress-bar progress-bar-warning')
                                                .css('width', '75%');
                                            break;
                                        case 4:
                                            $bar.attr('class', 'progress-bar progress-bar-success')
                                                .css('width', '100%');
                                            break;
                                    }

                                    // We will treat the password as an invalid one if the score is less than 3
                                    if (score < 3) {
                                        return {
                                            valid: false,
                                            message: message
                                        }
                                    }

                                    return true;
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
</head>
<body class="gray-bg">
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>

        <hr/>
        <h4>Login your account</h4>

        <div th:if="${errorMessage}"
             class="alert alert-success"
             role="alert"
             th:text=${errorMessage}></div>

        <div th:if="${successMessage}"
             class="alert alert-danger"
             role="alert"
             th:text=${successMessage}></div>

        <form class="m-t"
              id="loginForm"
              role="form"
              action="#"
              th:action="@{/login}"
              method="post">
            <!--th:object="${loginAccount}"-->
            <input type="hidden"
                   name="token"
                   th:value=${confirmationToken}>

            <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
                <input name="name"
                       type="text"
                       id="name"
                       placeholder="Username"
                       class="nameValue"/>
                <input name="password"
                       type="password"
                       id="password"
                       placeholder="Password"
                       class="form-control"
                       required/>
                <span class="glyphicon"
                      aria-hidden="true"></span>
            </div>

            <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
                <input type="password"
                       class="form-control"
                       id="login-process"
                       placeholder="Enter Password"
                       name="EnterPassword"
                       data-fv-notempty="true"
                       data-fv-notempty-message="Please enter password"
                       data-fv-identical="true"
                       data-fv-identical-field="password"/>

                <div class="help-block with-errors"></div>
            </div>


            <button type="submit"
                    class="btn btn-primary block full-width m-b">Save
            </button>

        </form>


    </div>
</div>
</body>
</html>
    